.info {
    background: url('/assets/dummy2.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  ion-modal {
    --height: 100%;
    margin-bottom: 50px;
    width: 100%;
  }

  ion-modal::part(content) {
    border: 1px solid red;
    border-radius: var(--border-radius);
  }

  