<ion-content [fullscreen]="true" >
  <div class="_main">
    <ion-title class="ion-text-center">John Doe</ion-title>
 

    <ion-card>
      <ion-button class="ion-margin">Service</ion-button>
      <ion-col>
        <ion-row>
          <ion-text class="ion-margin-horizontal  f1">Datenservice fur Vertrage moglich</ion-text>
        </ion-row>
        <ion-row>
          <ion-text class="ion-margin-horizontal f2">Du kannst den Datenservice fur weitere Vertrage in deiner Vertragsubersicht aktivieren</ion-text>
        </ion-row>
      </ion-col>
    </ion-card>

    <ion-title>Quick start</ion-title>
    <div class="btns">
      <ion-button shape="round" fill="outline">Manage data service</ion-button>
      <ion-button shape="round" fill="outline">Saved offers</ion-button>
    </div>
  </div>   
</ion-content>
